function Pillar.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop argument 2
push constant 511
push this 1
sub
pop this 3
push constant 511
push constant 144
sub
push this 1
sub
pop this 2
push argument 2
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Pillar.drawPillar 1
pop temp 0
push pointer 0
return
function Pillar.getDistanceFromDino 0
push argument 0
pop pointer 0
push this 2
return
function Pillar.getDistanceFromLeftScreen 0
push argument 0
pop pointer 0
push this 3
return
function Pillar.getHeight 0
push argument 0
pop pointer 0
push this 0
return
function Pillar.getWidth 0
push argument 0
pop pointer 0
push this 1
return
function Pillar.getIsHidden 0
push argument 0
pop pointer 0
push this 4
return
function Pillar.dispose 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 3
push constant 165
push this 0
sub
push this 3
push this 1
add
push constant 165
call Screen.drawRectangle 4
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Pillar.drawPillar 0
push argument 0
pop pointer 0
push this 3
push constant 165
push this 0
sub
push this 3
push this 1
add
push constant 165
call Screen.drawRectangle 4
pop temp 0
push constant 1
call Sys.wait 1
pop temp 0
push constant 0
return
function Pillar.movePillarByPixel 0
push argument 0
pop pointer 0
push this 3
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Pillar.drawPillar 1
pop temp 0
push this 3
push constant 1
sub
pop this 3
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Pillar.drawPillar 1
pop temp 0
push constant 0
return
